.not-logged-in-button {
  padding: 0.6em;
  font-size: 1.5em;
  font-weight: bolder;
  cursor: pointer;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.not-logged-in-button:hover {
  box-shadow: -3px 3px 0 #ff6f00;
  transform: translate(3px, -3px);
  -webkit-transform: translate(3px, -3px);
  -moz-transform: translate(3px, -3px);
  -ms-transform: translate(3px, -3px);
  -o-transform: translate(3px, -3px);
  transition: all 250ms ease-in;
}

a {
  text-decoration: none;
}