.articles-list {
    text-align: left;
}

.item {
    height: 2rem;
    margin-bottom: 0.6rem;
    text-align: left;
    font-size: 1.2rem;
    width: fit-content;
    padding: 0.2rem 0.4rem;
    margin-left: 5rem;
}

.SectionTitle {
    font-size: 1.3rem;
    cursor: pointer;
}

.SectionTitle span {
    color: #ff6f00;
    font-weight: 400;
}

.Down::before {
    color: #ff6f00;
}

.Down::after {
    color: #ff6f00;
    transition: all 0.2s ease-in;
    -webkit-transition: all;
    -moz-transition: all;
    -ms-transition: all;
    -o-transition: all;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.item:hover {
    transition: all 0.2s ease-in;
    background-color: #f5f5f5;
    color: black;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    box-shadow: -0.2rem 0.3rem 0 #ff6f00;
    transform: translateX(0.3rem) translateY(-0.2rem);
    -webkit-transform: translateX(0.3rem) translateY(-0.2rem);
    -moz-transform: translateX(0.3rem) translateY(-0.2rem);
    -ms-transform: translateX(0.3rem) translateY(-0.2rem);
    -o-transform: translateX(0.3rem) translateY(-0.2rem);
  }
